[Unit]
Description=Service assigns Virtual IP to the db2 HADR primary system
Wants=myMonitor.timer

[Service]
Type=oneshot
ExecStart=/root/db2haip.sh

[Install]
WantedBy=multi-user.target
